body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff;
    padding: 20px;
}

.image-container {
    margin: 65px auto;
    width: 600px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.license-info {
    font-size: 1em;
    color: #555;
    margin: 10px auto;
}